.pop-up {
  margin: 0 auto;
  width: 80%;
  position: fixed;
  z-index: 900000;
  background: white;
  top: 5%;
  right: 10%;
  height: auto;
}
.overlay {
  position: fixed;
  z-index: 100000;
  background: black;
  opacity: 0.8;
  top: 0;
  width: 100%;
  height: 100%;
}

.close-cross {
  float: right;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;
  background: #15616d;
}

.line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}

.line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}
.line2 {
  opacity: 0;
}

.pop-up-form {
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.form-cols-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pop-up-form label {
  font-size: 25px;
  padding: 0 10px 20px 10px;
}
.pop-up-form input,
.pop-up-form select {
  font-size: 20px;
  padding: 3px;
  margin-top: 5px;
}

.pop-up-input {
  display: flex;
  flex-direction: column;
}
.checkbox-section input {
  margin: 40px 5px 32px 0;
}

.submit-btn-section {
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .pop-up-form label {
    font-size: 19px;
  }

  .pop-up-form input,
  .pop-up-form select {
    font-size: 16px;
  }

  .checkbox-section input {
    margin: 35px 5px 27px 0;
  }
}

@media screen and (max-width: 650px) {
  /* .checkbox-section{
    display:flex;
    flex-direction: column;
  }
  .checkbox-section input {
    margin: 0 5px;
    padding:0px;
  } */
  .pop-up {
    width: 100%;
    right: 0%;
  }

  .pop-up-form {
    padding: 0px;
  }
  .pop-up-form label {
    font-size: 16px;
  }

  .pop-up-form input,
  .pop-up-form select {
    font-size: 12px;
  }

  .checkbox-section input {
    margin: 28px 2px 27px 0;
    padding: 0;
  }
}
