.grocery-item {
  display: flex;
}
.grocery-card {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 70%;
}

.icon {
  font-size: 70px;
  padding: 20px 100px 0 0;
}

.days-left {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  padding: 30px 0 0 100px;
}
.grocery-buttons {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding: 30px;
}

/* mobile */
@media screen and (max-width: 950px) {
  .grocery-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
  }
  .grocery-buttons {
    justify-content: center;
  }
  .icon {
    font-size: 100px;
    padding: 20px 0;
  }
  .days-left {
    float: none;
    width: 100%;
    padding: 20px 0;
  }
}
@media screen and (max-width: 650px) {
  .grocery-item {
    display: block;
    margin: 10px auto;
    padding: 10px;
  }
  .grocery-buttons {
    float: none;
    flex-direction: row;
    margin: 0;
    padding: 10px;
  }
  .grocery-card-list {
    margin: 0 auto;
    width: 90%;
  }
}
