.filter-input {
  display: flex;
  justify-content: start;
  padding: 20px;
}
.filter-col {
  width: 40%;
  padding: 0 50px 0 5px;
}
.order-col {
  width: 35%;
}
.checkbox-section {
  display: flex;
  flex-wrap: wrap;
}

.checkbox {
  padding: 5px;
}

@media screen and (max-width: 650px) {
  .filter-input {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .filter-col,
  .order-col {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 20px;
  }
  .checkbox-section {
    justify-content: center;
  }
  .checkbox {
    padding: 5px;
  }
}
